{% extends 'base.html' %}

{% block content  %}
<div id="ww">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="left">
                <h1>About CryptoShare</h1>
                <hr>
                <h3>What is CryptoShare?</h3>
                <p>CryptoShare is a simple message encryption system for sending
                and receiving messages and documents using strong encryption.
                </p>
                </div><!-- /col-lg-8 -->
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /ww -->

{% endblock %}