{% extends 'base.html' %}

{% block content  %}
<div id="ww">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="left">
                <h1>About CryptoShare</h1>
                <hr>
                <h3>What is CryptoShare?</h3>
                <p>CryptoShare is a simple message encryption system for sending
                and receiving messages and documents using strong encryption.
                </p>
                <h3>How are messages stored and encrypted?</h3>
                {% include 'cryptomessage.html' %}

                <h3>I lost my key, can you help me?</h3>
                <p>
                Sorry, no. We do not store your key anywhere. If you lost your key, your message is useless (short of <a href="http://en.wikipedia.org/wiki/Brute-force_attack">bruteforcing</a>).
                </p>

                </div><!-- /col-lg-8 -->
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /ww -->
</div>

{% endblock %}
