{% extends 'base.html' %}

{% block content  %}
<div id="ww">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="centered">
                    <h4>This message URL:<h4>
                    <input style="text-align:center" type="text" value="http://cryptsh.com/{{ url }}" />
                </div>

                <h3>Message</h3>

                <pre style="white-space: pre-wrap;" id="plaintext">
{% if plaintext %}
{{ plaintext }}
{% else %}
{{ document.ciphertext }}
{% endif %}
                </pre>
                <form id="decrypt-form" method="post" class="centered">
                    {% csrf_token %}
                    Key: <input type="password" name="key" id="key" />
                    <button>Decrypt</button>
                </form>

                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
                <script>
                    $("#decrypt-form").submit(function() {

                        var url = "/{{ url }}"; // the script where you handle the form input.

                        $.ajax({
                            type: "POST",
                            url: url,
                            data: $("#decrypt-form").serialize(),
                            success: function(data)
                            {
                                $('#plaintext').hide().html(data).fadeIn("slow");
                            }
                            return false;
                        });
                    });
                </script>
            </div><!-- /col-lg-8 -->
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /ww -->

{% endblock %}

